<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hey.hoop"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:icon="@drawable/hh_ic"
            android:label="@string/app_name">
        <provider
                android:authorities="hey.hoop.provider"
                android:label="@string/provider_name"
                android:name=".provider.DataForChartProvider"/>

        <activity
                android:label="@string/app_name"
                android:name=".HeyHoopActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/faller_title" android:name=".faller.FallerActivity"
                  android:icon="@drawable/faller_ic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".faller.FallerPreferences"/>

        <receiver android:name=".services.ServiceLaunchReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".services.ListenerService">
        </service>
    </application>

</manifest>